@use "variables";

.container {
  @include variables.display-flex-row(space-between, center);

  background-color: variables.$color-blue;
  width: 100%;
  padding: variables.$size-16;
  box-sizing: border-box;

  .month-name {
    font-size: variables.$size-24;
  }
}
