@use "variables";

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: variables.$color-blue;
  width: 100%;
  padding: variables.$size-16;
  box-sizing: border-box;

  .month-name {
    font-size: variables.$size-24;
  }
}
