@use "variables";

.container {
  @include variables.display-flex-row(space-between, center);
  @include variables.full-width;

  color: variables.$color-white;
  background-color: variables.$color-purple-dark;
  padding: variables.$size-16;
  box-sizing: border-box;

  .month-name {
    font-size: variables.$size-24;
  }
}
