<h1>Tela de registro</h1>
<!--<div class="container">-->
<!--    <img class="login_logo" src="../../../assets/images/register-view/logo.jpg" alt="">-->

<!--    <form [formGroup]="registerFormGroup" class="form-group">-->
<!--        -->
<!--    <app-input-->
<!--        id="register-input-username-72w5z2ui"-->
<!--        [formControlName]="REGISTER_FORM_ENUM.USERNAME"-->
<!--        label="Usuário"/>-->
<!--    <app-hint-error-->
<!--        id="register-input-username-hint-error-ajia7BTf"-->
<!--        [control]="registerFormGroup.controls[REGISTER_FORM_ENUM.USERNAME]"-->
<!--        [errorMessages]="REGISTER_VALIDATORS_ERROR.username()"></app-hint-error>-->

<!--    <app-input-->
<!--        id="register-input-email-ygz0mIw1"-->
<!--        [type]="INPUT_TYPE.EMAIL"-->
<!--        [formControlName]="REGISTER_FORM_ENUM.EMAIL"-->
<!--        label="Email"/>-->
<!--    <app-hint-error-->
<!--        id="register-input-email-hint-error-dKLeSZMS"-->
<!--        [control]="registerFormGroup.controls[REGISTER_FORM_ENUM.EMAIL]"-->
<!--        [errorMessages]="REGISTER_VALIDATORS_ERROR.email()"></app-hint-error>-->

<!--    <app-input-->
<!--        id="register-input-password-k936CKWU"-->
<!--        [type]="INPUT_TYPE.PASSWORD"-->
<!--        [formControlName]="REGISTER_FORM_ENUM.PASSWORD"-->
<!--        label="Password"/>-->
<!--    <app-hint-error-->
<!--        id="register-input-password-hint-error-cihrPUCm"-->
<!--        [control]="registerFormGroup.controls[REGISTER_FORM_ENUM.PASSWORD]"-->
<!--        [errorMessages]="REGISTER_VALIDATORS_ERROR.password()"></app-hint-error>-->

<!--    <app-input-->
<!--        id="register-input-confirm-password-zGppqlEi"-->
<!--        [type]="INPUT_TYPE.PASSWORD"-->
<!--        [formControlName]="REGISTER_FORM_ENUM.CONFIRM_PASSWORD"-->
<!--        label="Confirm Password"/>-->
<!--    <app-hint-error-->
<!--        id="register-input-confirm-password-hint-error-p6YWeUTa"-->
<!--        [control]="registerFormGroup.controls[REGISTER_FORM_ENUM.CONFIRM_PASSWORD]"-->
<!--        [errorMessages]="REGISTER_VALIDATORS_ERROR.confirmPassword()"></app-hint-error>-->
<!--    </form>-->

<!--    <div class="group-button">  -->
<!--        <app-button-->
<!--            button-primary-->
<!--            id="login-button-cp2SBdku"-->
<!--            label="Cadastrar"-->
<!--            (click)="register()"/>-->

<!--        <app-button-->
<!--            button-link-->
<!--            id="login-button-cp2SBdku"-->
<!--            label="Retornar"-->
<!--            (click)="goTo(ROUTE_ENUM.LOGIN)"/>-->
<!--    </div>    -->
<!--</div>-->
