@use 'variables';

.app-button {
  @include variables.cursor-pointer;
  @include variables.full-width;

  background-Color: variables.$color-white;
  transition-duration: variables.$transition-hyper-fast;
  box-shadow: rgba(0, 0, 0, 0.2) variables.$size-4 variables.$size-4 variables.$size-1;
  border: none;
  border-radius: variables.$border-radius-soft-8;
  letter-spacing: 0.06em;
  font-weight: variables.$font-weight-bold;
  padding: variables.$size-12;
}
