@use "variables";

.container {
  @include variables.display-grid(center, center);
  @include variables.border-solid-thin(#fff);
  @include variables.box-sizing-border;
  @include variables.full-width;

  aspect-ratio: 3 / 4;
  padding: variables.$size-8;
  text-align: center;
  border-radius: 8px;
  color: variables.$color-white;
  position: relative;

  &:has(.input-hide:checked):after {
    @include variables.shape-triangle('right', 12px);

    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    justify-self: center;
  }

  .input-hide {
    display: none;
  }
}
