@use "variables";

.day-component-container {
  @include variables.border-solid-thin(#fff);
  @include variables.box-sizing-border;

  text-align: center;
  border-radius: variables.$border-radius-soft-8;
  color: variables.$color-white;
  height: 100%;
  width: 100%;

  .day-component-container__label {
    @include variables.display-flex-column(space-evenly, center);
    @include variables.full-width;
    @include variables.full-height;

    position: relative;

    &:has(.input-hide:checked):after {
      @include variables.shape-triangle('top', 12px);

      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      justify-self: center;
    }

    .input-hide {
      display: none;
    }
  }
}
