@use 'variables';

.input-component-container {
    .label {
        display: block;
        margin-bottom: variables.$size-4;

        color: variables.$color-gray-darker;
    }

    .input {
        padding: variables.$size-8;
        border: variables.$border-thin solid variables.$color-gray-lighter;
        border-radius: variables.$border-radius-soft-8;
        outline: none;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: variables.$color-purple-dark;
            box-shadow: 0 0 5px variables.$color-blue-dark;
        }

        &::placeholder {
            color: variables.$color-gray-lighter;
        }
    }
}
