@use "variables";

.days-component-container {
  @include variables.display-flex-row;
  @include variables.horizontal-scroll;
  @include variables.box-sizing-border;
  @include variables.full-width;

  background-color: variables.$color-purple-dark;
  padding: variables.$size-16;

  app-day {
    .day-component-container {
      aspect-ratio: variables.$aspect-ratio-camera-old-landscape;
      margin: variables.$size-0 variables.$size-16;
      width: 100px;
    }
  }
}

@media only screen and (min-width: variables.$breakpoint-tablet-width) {
  .days-component-container {
    @include variables.display-grid;
    @include variables.scroll-none;

    gap: variables.$size-8;
    grid-template-columns: repeat(7, 1fr);
    padding: variables.$size-16;

    app-day {
      .day-component-container {
        aspect-ratio: variables.$aspect-ratio-square;
        margin: 0;
      }
    }
  }
}
