@use "variables";

.days-component-container {
  @include variables.display-flex-row;
  @include variables.horizontal-scroll;
  @include variables.box-sizing-border;
  @include variables.full-width;

  background-color: variables.$color-purple-dark;
  padding: variables.$size-16;

  app-day {
    .day-component-container {
      aspect-ratio: variables.$aspect-ratio-camera-old-landscape;
      margin: variables.$size-0 variables.$size-16;
      width: 100px;
    }

  }
}
