<h1>Reset password</h1>
<!--<form action="" [formGroup]="resetPasswordFormGroup">-->
<!--    <app-input-->
<!--        id="reset-password-input-password-6iphrjNT"-->
<!--        formControlName="password"-->
<!--        label="Senha"/>-->
<!--    <app-hint-error-->
<!--        id="reset-password-input-password-hint-error-ju0FVCgA"-->
<!--        [control]="resetPasswordFormGroup.controls['password']"-->
<!--        [errorMessages]="{-->
<!--            required: 'Este campo é obrigatório',-->
<!--            minLength: 'O tamanho mínimo para a senha são 6 caracteres',-->
<!--            lowercaseMissing: 'É necessário pelo menos 1 caractere minúscula na senha',-->
<!--            uppercaseMissing: 'É necessário pelo menos 1 caractere maiúsculo na senha',-->
<!--            numberMissing: 'É necessário pelo menos 1 caractere numérico na senha',-->
<!--            especialCharacterMissing: 'É necessário pelo menos 1 caractere especial na senha'-->
<!--        }"></app-hint-error>-->

<!--    <app-input-->
<!--        id="reset-password-input-confirm-password-PoYVRX57"-->
<!--        formControlName="confirmPassword"-->
<!--        label="Confirmar senha"/>-->
<!--    <app-hint-error-->
<!--        id="reset-password-input-confirm-password-hint-error-U4uCZM9m"-->
<!--        [control]="resetPasswordFormGroup.controls['confirmPassword']"-->
<!--        [errorMessages]="{-->
<!--            required: 'Este campo é obrigatório',-->
<!--            passwordMismatch: 'As senhas não coincidem'-->
<!--        }"></app-hint-error>-->

<!--    <app-button -->
<!--        id="reset-password-button-confirm-4apt1JIh"-->
<!--        label="Confirmar"-->
<!--        (click)="goTo(RouteEnum.LOGIN)"/>-->
<!--</form>-->
