<h1>Recovery Password</h1>
<!--<div class="container">-->
<!--    <img class="login_logo" src="../../../assets/images/recovery-password-view/logo.png" alt="">-->

<!--    <form [formGroup]="recoveryPasswordFormGroup" class="form-group">-->

<!--        <app-input-->
<!--            id="recovery-password-input-email-t84qkRqe"-->
<!--            [formControlName]="RecoveryPasswordFormEnum.EMAIL"-->
<!--            label="Email"/>-->
<!--        <app-hint-error-->
<!--            id="recovery-password-input-email-hint-error-BvaVLkUN"-->
<!--            [control]="recoveryPasswordFormGroup.controls[RecoveryPasswordFormEnum.EMAIL]"-->
<!--            [errorMessages]="{-->
<!--                required: 'Este campo é obrigatório',-->
<!--                email: 'Este campo só aceita email como valor'-->
<!--            }"></app-hint-error>    -->
<!--    </form>-->

<!--    <div class="group-button">  -->
<!--        <app-button-->
<!--            button-primary-->
<!--            id="recovery-password-button-confirm-0p7HqIKW"-->
<!--            label="Recuperar senha"-->
<!--            (click)="goTo(RouteEnum.RESET_PASSWORD)"/>-->

<!--        <app-button-->
<!--            button-link-->
<!--            id="recovery-password-button-return-C8JUjOqZ"-->
<!--            label="Retornar"-->
<!--            (click)="goTo(RouteEnum.LOGIN)"/>-->
<!--    </div>-->
<!--</div>-->

