@use 'variables';

.hint-error-container {
    .message {
        margin: variables.$size-4 variables.$size-0;

        font-size: variables.$font-size-hyper-small;
        color: variables.$color-error;
        line-height: normal;
    }
}
