.button-primary {
    background-color: green;
    border: none;
    color: white;
}

.button-secondary {
    background-color: blue;
    border: none;
    color: white;
}

.button-link {
    background-color: transparent;
    border: none;
    color: blue;
    box-shadow: none;
}

.button-warning {
    background-color: yellow;
    border: none;
    color: black;
}

.button-danger {
    background-color: red;
    border: none;
    color: white;
}

.button-help {
    background-color: orange;
    border: none;
    color: white;
}