.primary {
    background-color: green;
    border: none;
    color: white;
}

.secondary {
    background-color: blue;
    border: none;
    color: white;
}

.link {
    background-color: transparent;
    border: none;
    color: blue;
    box-shadow: none;
}

.warning {
    background-color: yellow;
    border: none;
    color: black;
}

.danger {
    background-color: red;
    border: none;
    color: white;
}

.help {
    background-color: orange;
    border: none;
    color: white;
}
