@use "variables";

$container-width: 60px;

.container {
  @include variables.display-flex-row(center, center);

  color: variables.$color-white;
  aspect-ratio: variables.$aspect-ratio-square;
  background-color: variables.$color-purple-dark;
  width: $container-width;
  border-radius: variables.$border-radius-circle;
  position: absolute;
  bottom: 0 - ($container-width / 1.4);
  justify-self: center;
}
